{% extends '@Product/Product/layout.html.twig' %}

{% block title %}Create new product{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new product</h1>
    {{ include('@Product/Product/_form.html.twig') }}
</div>
{% endblock %}
